:root {
        --top_header_background_color:linear-gradient(to right, #f6f9fd 99%, #f6f9fd 99%);
        --top_header_color:#bed6ed;
        --top_header_a_color:;
        --top_header_a_hover_color:;
        --middle_header_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --middle_header_color:#000000;
        --middle_header_a_color:#000000;
        --middle_header_a_hover_color:#000000;
        --middle_header_search_input_color:#7d90a8;
        --middle_header_search_input_background_color:linear-gradient(to right, #ffffff 44%, #ffffff 44%);
        --middle_header_search_input_border_color:#dfe3e8;
        --middle_header_search_input_border_size:1px;
        --bottom_header_background_color:linear-gradient(to right, #000000 99%, #000000 99%);
        --bottom_header_color:#f2f8ff;
        --bottom_header_a_hover_color:;
        --bottom_header_border_color:#0b0c10;
        --bottom_header_border_size:0;
        --side_menu_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --side_menu_color:#000000;
        --side_menu_a_hover_color:#000000;
        --side_menu_border_color:;
        --side_menu_border_size:0;
        --main_titles_color:#363636;
        --main_titles_a_color:#363636;
        --main_titles_a_hover_color:#45a29e;
        --main_body_main_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --main_body_main_color:#363636;
        --main_body_main_a_color:#363636;
        --main_body_main_a_hover_color:#45a29e;
        --main_body_alternative_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --main_body_alternative_color:#000000;
        --main_body_alternative_a_color:#999999;
        --main_body_alternative_a_hover_color:#000000;
        --main_body_alternative_a_hover_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --card_titles_color:#1b3b59;
        --card_titles_a_color:#363636;
        --card_titles_a_hover_color:#242d38;
        --card_body_background_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --card_body_color:#1b3459;
        --card_body_a_color:#03090d;
        --card_body_a_hover_background_color:linear-gradient(to right, #1f2833 99%, #1f2833 99%);
        --card_body_a_hover_color:#242d38;
        --card_body_border_color:#dedede;
        --card_body_border_size:1px;
        --card_body_border_radius:0;
        --top_footer_body_background_color:linear-gradient(to right, #ffffff 1%, #ffffff 99%);
        --top_footer_body_color:#363636;
        --top_footer_body_a_color:#868686;
        --top_footer_body_a_hover_color:#258ec2;
        --bottom_footer_background_color:linear-gradient(to right, #000000 99%, #000000 99%);
        --bottom_footer_color:#ffffff;
        --bottom_footer_a_color:#ffffff;
        --bottom_footer_a_hover_color:#ffffff;
        --footer_social_media_background_color:linear-gradient(to right, #3b3b3b 99%, #3b3b3b 99%);
        --footer_social_media_background_hover_color:linear-gradient(to right, #ffffff 99%, #ffffff 99%);
        --footer_social_media_color:#ffffff;
        --bottom_footer_text_hover_color:#258ec2;
        --button_main_background_color:linear-gradient(to right, #0b73ec 99%, #0b73ec 99%);
        --button_main_background_hover_color:linear-gradient(to right, #3391ea 99%, #3391ea 99%);
        --button_main_color:#ffffff;
        --button_main_text_hover_color:#ffffff;
        --button_main_border_color:;
        --button_main_border_size:0px;
        --button_main_border_rounded:3px;
        --button_secondary_background_color:linear-gradient(to right, #e2f2fd 99%, #e2f2fd 99%);
        --button_secondary_background_hover_color:linear-gradient(to right, #377dff 99%, #377dff 99%);
        --button_secondary_color:#377dff;
        --button_secondary_text_hover_color:#ffffff;
        --button_secondary_border_color:#e5f2fe;
        --button_secondary_border_size:0px;
        --button_secondary_border_rounded:3px;
        --input_background_color:;
        --input_color:#000000;
        
            }